<!DOCTYPE html>
<html>
  <head>
    <title><%= webpackConfig.metadata.title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/loading.css">
    <link rel="stylesheet" type="text/css" href="/assets/base.css">
    <meta name="description" content="<%= webpackConfig.metadata.title %>">

    <% if (webpackConfig.htmlElements.headTags) { %>
    <!-- Configured Head Tags  -->
    <%= webpackConfig.htmlElements.headTags %>
    <% } %>

    <!-- base url -->
    <base href="<%= webpackConfig.metadata.baseUrl %>">

    <style type="text/css">


    </style>
  </head>

  <!-- 3. Display the application -->
  <body>
  <app>
    <div class="ball-pulse-sync" style="text-align: center; margin: 10px;">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </app>

  </body>

  <% if (webpackConfig.metadata.isDevServer && webpackConfig.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>
</html>